/* General rules
****************** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

body {
    width: 1440px;
    margin:auto;
    font-family: 'Montserrat', sans-serif;

}

/* HEADER
*********** */

#site_header {
    margin: 20px 0;
    height: 100px;
}


.logo {
    height: 50px;
    padding-right: 15px;
    border-right: 0.1px solid #cfcfcf;
    margin-bottom: 10px;
}


.menu {
    margin:15px 0;
}


.menu>a {
    text-decoration: none;
    font-size: 16px;
    color: #B3B3B3;
    padding: 5px;
}


/* MAIN
*********** */

/* Hero */

.hero{

    position:relative;
}

.hero_img {
    margin:20px 0 20px;
    background-image: url("../img/banner.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    border-radius: 15px;
    
}


.hero_text {
    position:absolute;
    width: 50%;
    bottom:75px;
    left:25px;
    color: white;
    margin-left: 25px;
}


.hero_text>h2 {
    font-size:36px;
}

/* Container */

.top_content>h1 {
    font-weight: 700;
}


.top_content>p {
    color:#B3B3B3;
}

.row {
    height: 500px;
}


.sidebar {
    margin:2% 0;
    height: 200px;
    width: 20%;
    float:left;
}


.sidebar>img {

    object-fit: cover;
    border-radius: 15px;
    height: 245px;
    width: 100%;
    filter:brightness(80%)
}


.cl_text {
    padding:1px;
}
.cl_text>h3 {
    margin:10px 0;
}

.cl_text>p {
    color:#B3B3B3;
}

.content {
    margin: 2%;
    height: 300px;
    width: 56%;
    float:left;
}

.content>img {
    object-fit: cover;
    border-radius: 15px;
    height: 245px;
    width: 100%;
    filter: brightness(80%);
}


/* Footer
*********** */

#site_footer {
    
    height: 100px;
    margin:60px 0;
    text-align: center;
}


footer>p {
    padding:50px;
}


#heart{
    color:red;
}
